extends ../layouts/default

block css
	link(href="/styles/css/news.min.css", rel="stylesheet")

//- MIXINS

mixin post(post)
	.col-md-4
		.newspanel
			.panel.panel-default
				.panel-heading
					a.plain(href='/' + moment(post.date).format("YYYY") + '/' + moment(post.date).format("MM") + '/' + post.slug)
						h3()!= post.title.rendered
				.panel-body
					p.text-muted Posted
						if post.date
							|  <span class="primary-color">#{moment(post.date).fromNow()}</span>
							| on <span class="primary-color">#{moment(post.date).format("MMMM Do YYYY")}</span>
						if post.author
							|  by&nbsp;
							a.primary-color(href='/author/' + post._embedded.author[0].slug + '/page/1') #{post._embedded.author[0].name}
					div.excerpt
						p!= post.excerpt.rendered
					p.text-muted.footer
						if post.categories && post.categories.length
							each type, type_index in post._embedded["wp:term"]
								if type
									each taxonomy, index in type
										a.primary-color(href='/' + (taxonomy.taxonomy == 'category' ? 'category' : 'tag') + '/' + taxonomy.slug + '/page/1') #{taxonomy.name}
										if index < type.length - 1
											| ,&nbsp;
								if type_index < post._embedded["wp:term"].length - 1 && post._embedded["wp:term"][1].length > 0
									| ,&nbsp;

//- CONTENT

block intro
	.container
		h1.text-center Community News & Devblog
		h4.text-center Patch notes, tournament announcements, community spotlights and more
		hr

block content
	.container
		.row.text-center
			if data.posts.length > 1
				.blog
					each post in data.posts
						+post(post)
				if data.posts._paging.totalPages > 1
					.news-count
						h4.text-weight-normal.text-normal Showing page #{data.currentPage} of #{data.posts._paging.totalPages} pages.
				else
					h4.text-weight-normal Showing #{data.posts.length} post(s).
				//- PAGINATION
				.col-md-12
					if data.posts._paging.totalPages > 1
						ul.pagination
							if data.currentPage > 1
								li: a(href='/news/page/1'): span.glyphicon.glyphicon-step-backward
							if data.posts._paging.links.prev
								li: a(href='/news/page/' + (data.currentPage - 1)): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='/news/'): span.glyphicon.glyphicon-chevron-left
							if data.posts._paging.links.next
								li: a(href='/news/page/' + (data.currentPage + 1)): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='/news/page/' + data.posts._paging.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
							if data.currentPage < data.posts._paging.totalPages
								li: a(href='/news/page/'+data.posts._paging.totalPages): span.glyphicon.glyphicon-step-forward
				//- PAGINATION END

			else
				if data.category
					h3.text-muted There are no posts in the category #{data.category.name}.
				else
					h3.text-muted There are no posts yet.
block js
	<script>$("a:contains('Continue reading')").css("display", "none");</script>

