extends ../layouts/default

block Content
  h1 Leaderboards Pages 
  h2 In-Development
  
  
  
  
block js
  script(type='text/javascript').
    var apiURL = !{JSON.stringify(apiURL)};
    var ratingTypeTitle = !{JSON.stringify(ratingTypeTitle)};
    var ratingType = !{JSON.stringify(ratingType)};
    var members = '!{JSON.stringify(members)}';
    var lastPage = !{JSON.stringify(lastPage)};
  script(src="/js/leaderboards.min.js")
