extends ../layouts/default

block css
    link(href="/styles/css/news.min.css", rel="stylesheet")

//- MIXINS

mixin stream(stream)
    .col-md-4
        .newspanel
            .panel.panel-default
                .panel-heading
                    a.plain(href=stream.channel.url)
                        h3()!= stream.channel.status
                .panel-body
                    p.text-muted Posted
                        if stream.created_at
                            |  <span class="primary-color">#{momentTimezone(stream.created_at).tz(momentTimezone.tz.guess()).fromNow()}</span>
                            | on <span class="primary-color">#{momentTimezone(stream.created_at).tz(momentTimezone.tz.guess()).format("MMMM Do YYYY")}</span>
                        if stream.channel.display_name
                            |  by&nbsp;
                            a.primary-color(href=stream.channel.url) #{stream.channel.display_name}
                    div.excerpt
                        img(src=stream.preview.large)
                    p.text-muted.footer
                        span Current Viewers: #{stream.viewers} | Language: #{stream.channel.language}

block content
    .container.text-center
        .col-md-12
            h1 Forged Alliance Forever Live Streams
            h4 The Forged Alliance Forever live streams include all current live streams from Twitch.tv
            hr
        .col-md-12
            if streamsCount >= 1
                each stream in data.streams
                    +stream(stream)
            else
                h3.text-muted There are no live streams currently available.
