mixin div(title)
  if block   
    h1 #{ title }
    div(style="border:1px solid black;padding:15px")
      block

mixin renderArticle(v)
  a(href=v.linkUrl) #{ v.title }
  br
  
  if v.category
    p #{ v.category }
  
  if v.imageUrl
    img(src=v.imageUrl)
  
  if v.subtitle
    p #{ v.subtitle }
  
  if v.paragraph
    p #{ v.paragraph }
  
  if v.tags
    p(style="color:red") Tags: #{ v.tags }
  
  hr

+div("TopBar")
  p #{ content.topbar.title }
  p #{ content.topbar.linkUrl }
  p #{ content.topbar.backgroundcolor }

+div("Hero")
  +renderArticle(content.hero)

+div("Col1")
  for a in content.col1
    +renderArticle(a)

+div("Col2")
  h1 
  for a in content.col2
    +renderArticle(a)

+div("Col3")
  for a in content.col3
    +renderArticle(a)

+div("SidebarLeft")
  img(src=content.sidebarLeft.imageUrl)
  p #{ content.sidebarLeft.linkUrl }
  p #{ content.sidebarLeft.backgroundcolor }

+div("sidebarMiddle")
  img(src=content.sidebarMiddle.imageUrl)
  p #{ content.sidebarMiddle.linkUrl }

+div("sidebarRight")
  img(src=content.sidebarRight.imageUrl)
  p #{ content.sidebarRight.linkUrl }
  p #{ content.sidebarRight.backgroundcolor }
