mixin email
    .form-group.has-feedback
        label Email:
            .input-group
                input(type='email', name='email', required='required', value=formData['email']).form-control
                span(aria-hidden='true').glyphicon.form-control-feedback
                .help-block
                    | Do not use a throwaway / temporary / anonymous email address or your signup may be rejected, or you may be banned later.
                .help-block.with-errors

mixin survey
    .form-group.has-feedback
        label Voluntary Survey
            | This data is voluntary. You don't have to tell us if you don't want to
            | We only use this data to inform internal development decisions
            | This data will never be shared or distributed
            | This data will not be attached to your account. It is completely anonymous.
            .form-group.radio-inline
                label What age are you?
                    input(type='radio', name='survey_age', value='Under 13', checked='')#choice1
                    input(type='radio', name='survey_age', value='13 - 17', checked='')#choice2
                    input(type='radio', name='survey_age', value='18 - 25', checked='')#choice3
                    input(type='radio', name='survey_age', value='25+', checked='')#choice4
                    label(for='choice1') Under 13
                    label(for='choice2') 13 - 17
                    label(for='choice3') 18 - 25
                    label(for='choice4') 25+
            .form-group.radio-inline
                label Where did you purchase Forged Alliance?
                    input(type='radio', name='survey_source', value='Steam', checked='')#choice1
                    input(type='radio', name='survey_source', value='GoodOldGames', checked='')#choice2
                    input(type='radio', name='survey_source', value='HumbleBundle', checked='')#choice3
                    input(type='radio', name='survey_source', value='Retail', checked='')#choice4
                    input(type='radio', name='survey_source', value='Other', checked='')#choice5
                    label(for='choice1') Steam
                    label(for='choice2') GoodOldGames
                    label(for='choice3') HumbleBundle
                    label(for='choice4') Retail
                    label(for='choice5') Other

mixin username
    .form-group.has-feedback
        label Username:
            .input-group
                input(type='text', name='username', required='required', value=formData['username'], data-minlength='3', maxlength='16', pattern='[A-Za-z]{1}[A-Za-z0-9_-]{2,15}$', data-minlength-error='The username is too short - must be at least 3 characters', data-error='Please check username requirements').form-control
                span(aria-hidden='true').glyphicon.form-control-feedback
                .help-block
                    | Must be between 3 and 16 characters <br>
                    | Only letters, digits, minus and underscore are allowed <br>
                    | First character must be a letter
                .help-block.with-errors

mixin usernameOrEmail
    .form-group
        label Username or email:
            .input-group
                input(type='text', name='usernameOrEmail', required='required', value=formData['usernameOrEmail']).form-control
                span(aria-hidden='true').glyphicon.form-control-feedback

mixin confirm-password(passwordName,labelPassword)
    - passwordName = passwordName || 'password'
    - labelPassword = labelPassword || ''
    .form-group.has-feedback
        label #{labelPassword} Password:
            .input-group
                input(type='password', name=passwordName, required='required', id='inputPassword', data-minlength='6').form-control
                span(aria-hidden='true').glyphicon.form-control-feedback
                .help-block Minimum of 6 characters
    .form-group.has-feedback
        label Confirm #{labelPassword} Password:
            .input-group
                input(type='password', name=passwordName + '_confirm', required='required',data-match='#inputPassword', data-match-error="Passwords don't match. Please fix!", data-minlength='6').form-control
                span(aria-hidden='true').glyphicon.form-control-feedback
                .help-block.with-errors

mixin oldPassword(labelPassword)
    - labelPassword = labelPassword || ''
    .form-group.has-feedback
        label #{labelPassword} Password:
            .input-group
                input(type='password', name='old_password', required='required', id='oldPassword', data-minlength='6').form-control
                span(aria-hidden='true').glyphicon.form-control-feedback
                .help-block Minimum of 6 characters

mixin currentPassword(labelPassword)
    - labelPassword = labelPassword || ''
    .form-group
        label #{labelPassword} Password:
            .input-group
                input(type='password', name='password', required='required', id='password').form-control

mixin tosagree(checked)
    - checked = checked || false
    .form-group
        label Agree to our Terms of Service:
          .input-group
            p I have read and agree with our <a href="https://faforever.com/tos" rel="_new">Terms of Service</a>
            input(type='checkbox', name='tosagree', required='required')
        label Agree to our Privacy Statement:
          .input-group
            p I have read and agree with our <a href="https://faforever.com/privacy" rel="_new">Privacy Statement</a>
            input(type='checkbox', name='privacyagree', required='required')
