extends ../../layouts/default
block content
    #clan-view
        a(href='/clans') <- OVERVIEW
        <br />
        <br />
        .gridMainContainer
            .column4
                table#clan-info
                    tr
                        td NAME
                        td [#{ clan.tag }] #{ clan.name }
                    tr
                        td LEADER
                        if clan.leader
                            td #{ clan.leader.name } 👑
                        else
                            td -
                    tr
                        td FOUNDER
                        if clan.founder
                            td #{ clan.founder.name }
                        else
                            td -
                    tr
                        td FOUNDED
                        td #{ clan.createTime }
                    tr
                        td JOIN
                        if clan.requiresInvitation
                            td Invitation Only
                        else
                            td Free For All
            .column8
                div(style='white-space: pre-wrap') #{ clan.description }
            .column12
                if canLeave
                    a.faf-button(href='/clans/leave') Leave Clan
                if isLeader
                    a.faf-button(href='/clans/invite') Create Invite
                    a.faf-button(href='/clans/manage') Update Clan
            .column12
                table#clan-members
                    thead
                        tr
                            th NAME
                            th JOINED AT
                            th ACTIONS
                    tbody
                        each member in clan.memberships
                            tr
                                td #{ member.name }
                                td #{ member.joinedAt }
                                td
                                    if isLeader && member.membershipId !== userMembershipId
                                        a.action-link(
                                            href=`/clans/kick/${member.membershipId}`,
                                            onclick='return confirm(\'Kick?\')'
                                        ) Kick
                                        a.action-link(
                                            href=`/clans/transfer/${member.membershipId}`,
                                            onclick='return confirm(\'Transfer Clan Ownership?\')'
                                        ) Make Leader

block js
    script(src=webpackAssetJS('clan'))
