extends ../../layouts/default
include ../../mixins/flash-error
include ../../mixins/form/account
block bannerMixin
block content
    .clanManagement
        .column12
            +flash-error(errors)

        .column12
            h2 Clan Settings
            form(
                method='post',
                action='/clans/update',
                data-toggle='validator'
            )
                input(
                    type='text',
                    name='clan_name',
                    value=clan_name,
                    placeholder='Clan name',
                    title='Name',
                    required='required'
                )
                br
                input(
                    type='text',
                    required='required',
                    name='clan_tag',
                    title='Tag',
                    value=clan_tag,
                    placeholder='TAG'
                )
                br
                textarea(
                    rows='12',
                    name='clan_description',
                    title='description',
                    required='required',
                    placeholder='The description players will see when they view your clan'
                ) #{ clan_description }
                br

                button.bigButton(type='submit') Update Clan Settings
                br
                br
                hr
    .clanManagement.row.important-form
        .column12
            h3 DANGER ZONE
            div The settings below CANNOT be undone. Do not touch these settings unless you are sure about what you are doing.
            br

            form(
                method='post',
                action='/clans/destroy',
                onsubmit='return confirm(\'THIS OPERATION IS DEFINITIVE. Press OK to confirm you want to delete your clan\');'
            )
                button(type='submit') Delete My Clan
            br
