extends ../../layouts/default
include ../../mixins/flash-messages
include ../../mixins/form/account
block bannerMixin
block content
  
  .clanManagementMain
    .clanManagementContainer.column12
      // Display non-html flash message
      if flash.messages
        +flash-messages(flash)
      

        
      

    .clanManagementContainer.column12
      h1 Clan Management
      h2 Invite players
      form(method='post',action="/clans/invite")
        p This will generate an invitation link for the player of your choice
        p Be sure to type the player name correctly!
        input(type='hidden', name='clan_id', value=clan_id)
        input(type='text', name='invited_player', placeholder='Player name', required='required')
        br
        button(type='submit' onclick="copyTextButton()") Invite Player
      // We use HTML for the invite button
      if flash.hasHTML
        br
        h2 Invitation link
        .displayNone 
          #{flash.hasHTML}
        
        
        button(onclick="copyInviteLink()") Copy invite link to Clipboard
        p Note: It only works for the user you typed.


    .clanManagementContainer.column12
      h2 Clan Settings
      form(method='post',action="/clans/update",data-toggle="validator")
        input(type='hidden', name='clan_id', value=clan_id)
        label Clan Name
        input(type='text', name='clan_name', value=clan_name, placeholder='Clan name', required='required')
        input(type='hidden', name='original_clan_name', value=clan_name)
        span(aria-hidden='true')
        label Clan Tag:
        input(type='text', required='required', name='clan_tag', value=clan_tag, placeholder='TAG')
        input(type='hidden', name='original_clan_tag', value=clan_tag)
        span(aria-hidden='true')
        br
        label Clan description
        br
        
        textarea(rows='12', name='clan_description', required='required', placeholder='The description players will see when they look your clan') #{clan_description}
        span(aria-hidden='true')
        br
        
        button(type='submit') Update Clan Settings

    .clanManagementContainer.column12
      .clanMembers
        each member in clan_members
          .column2
             p #{member.name}
          .column1
            if member.id != me
              form(method='post',action="/clans/kick")
                input(type='hidden', name="membership_name", value=member.name)
                input(type='hidden', name="membership_id", value=member.membershipId)
                input(type='hidden', name='clan_id', value=clan_id)
                button(type='submit') Kick
            else
              span
  .clanManagementMain
    .clanManagementDanger.clanManagementContainer.column12
      h1 DANGER ZONE
      p The settings below CANNOT be undone. Do not touch these settings unless you are sure about what you are doing.
      form(method='post',action="/clans/transfer",data-toggle="validator", onsubmit="return confirm('ALL YOUR RIGHTS OVER THE CLAN WILL BE LOST. Press OK to confirm the clan transfer');")
        input(type='hidden', name='clan_id', value=clan_id)
        h2 Transfer ownership
        p This operation will transfer the leadership of your clan to a new member.
        br
        h2 After the Leadership transfer:
          li You can no longer update the clan
          
          li You can no longer delete the clan
          
          li You can no longer invite new players
          
          li You can no longer kick a player
        br
        br
        p By clicking the "transfer" button, you 
          b FORFEIT
          |  all your rights over this clan in favor of the new owner.
  
        
        input(type='text', required='required', id="ownership_transfer_textbox", name='transfer_to', placeholder='New clan owner')
        br
        button(type='submit') Transfer clan ownership
  
      form(method='post',action="/clans/destroy", onsubmit="return confirm('THIS OPERATION IS DEFINITIVE. Press OK to confirm you want to delete your clan');")
        input(type='hidden', name='clan_id', value=clan_id)
        br
        br
        h2 Delete the clan
        p All memberships will be terminated and the clan will be removed. The name and tag of the clan will become free.
        p This operation 
          b CANNOT BE CANCELED
        br
        button(type='submit') Delete my clan
        br
        br
        // This script makes it so people can copy the invite link with just a click
        script.
          function copyInviteLink() {
            navigator.clipboard.writeText(document.getElementById("inviteLink").getAttribute("href"))}
    
