doctype html
html(lang='en')
  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="FAF Community Website")

    title= title || 'Forged Alliance Forever'
    link(rel="shortcut icon", href="/images/favicon-package/favicon.ico", type="image/png")

    // Fonts
    link(href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css2?family=Electrolize&display=swap' rel='stylesheet')

    link(href='https://fonts.googleapis.com/css2?family=Electrolize&family=Russo+One&display=swap' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Orbitron&display=swap')

    //- Customise the stylesheet for your site by editing /public/styles/site.sass
    link(href="/styles/css/site.min.css?version=" + Date.now(), rel="stylesheet")
    script(async, defer, data-domain="faforever.com", src="https://plausible.faforever.com/js/plausible.js")
    script(src="https://kit.fontawesome.com/33e7e258d3.js" crossorigin='anonymous')

    //- Include template-specific stylesheets by extending the css block
    block css


    //- Add any other template-specific HEAD tags by extending the head block
    block head

  //- HTML BODY
  body
    .mainTopNavContainer
      // this is the "thin" navbar that has forums, discord, youtube icons, etc. 
      .topNavContainer
        a.topnav_item(href='/donation') Support FAF
      .topNavContainer
        a.topnav_item(href='https://forum.faforever.com/') Forums
      .topNavContainer
        a.topnav_item(href='https://wiki.faforever.com/en/home') Wiki
      .topNavContainer
        a(href='https://discord.gg/mXahVSKGVb')
          .fab.fa-discord.fa-lg
      .topNavContainer
        a(href='https://www.youtube.com/c/ForgedAllianceForever')
          .fab.fa-youtube.fa-lg
      .topNavContainer
        a(href='https://www.twitch.tv/faflive')
          .fab.fa-twitch.fa-lg
      .topNavContainer
        a(href='https://github.com/FAForever')
          .fab.fa-github.fa-lg
    // Main Navbar with FAF NEWS, LOGIN AND DOWNLOAD. 
    .mainNavContainer
      .navContainer
        .navItem
          .navLogo
            a(href='/')
              img(src='/images/logos/faflogo.svg' alt='')
      .navContainer
        ul.navItem
          a(href='/')
            li.navList HOME
              ul.navAbsolute
          a(href='/newshub')
            li.navList NEWS
              ul.navAbsolute
          li.navList GAME
            .fas.fa-caret-down
            ul.navAbsolute
              a(href='/campaign-missions')
                li Campaign & Co-Op Missions
              a(href='/tutorials-guides')
                li Tutorials/Guides
              a(href='/ai')
                li AI/Skirmish
              a(href='/scfa-vs-faf')
                li SC:FA vs FAF

          li.navList COMMUNITY
            .fas.fa-caret-down
            ul.navAbsolute
              a(href='/faf-teams')
                li Teams and Association
              a(href='/content-creators')
                li Content Creators
              a(href='/contribution')
                li  Contribute/Volunteer
              a(href='/donation')
                li  Donate to FAF
              a(href='/clans')
                li  Clans

          li.navList COMPETITIVE
            .fas.fa-caret-down
            ul.navAbsolute
              a(href='/leaderboards')
                li Leaderboards
              a(href='/tournaments')
                li Tournaments
          a(href='/play')
            li.navList DOWNLOAD
              ul.navAbsolute

      if !username
        .navContainer.navEnd
          ul.navItem
            a(href="/login")
              li.navList LOGIN
        .navContainer.navEnd
          ul.navItem
            a(href="/account/register")
              li.navList REGISTER
      
      if username
        .navContainer.navEnd#loginList
          ul.loginItem
            .navList #{username}
            ul#loginAbsolute
              li.loginDropdown
                ul(role='menu')                  
                  if hasClan
                    a(href="/clans/manage"): li My Clan
                  a(href="/account/changeEmail"): li Change Email
                  a(href="/account/changePassword"): li Change Password
                  a(href="/account/changeUsername"): li Change Username
                  a(href="/account/linkSteam"): li Steam Linking
                  a(href="/account/linkGog"): li GOG Linking
                  a(href="/account/report"): li Report Player
        .navContainer.navEnd
          ul.navItem
            a(href="/logout")
              li.navList LOG OUT


    // the mobilenav is the mobile navbar, it has two stickies, one of them is the sticky for the mobile menu (so it stays with the user) and the second one is the black backgroud (so when the user opens the mobile menu, everything else darkens.)


    .mobileTransition
      .mobileTransitionContainer
        img(src='/images/logos/faflogo.svg' alt='')
      .fas.fa-bars


    .gridMainContainer.mobileNavBar
      i.fas.fa-times
      .gridItem.column12
        .splatForgedBorder
          .movingBackground1
          .movingBackground2
        img(src='/images/faflogo.svg' alt='')

        ul
          a(href='/') Home
        ul
          a(href='/newshub') News
        .mobileNavUl Game
          .fas.fa-caret-down.mobileCaret
        ul.mobileNavLi
          li
            a(href='/tutorials-guides') Tutorials/Guides
          li
            a(href='/ai') AI/Co-op Play
          li
            a(href='/scfa-vs-faf') SC:FA vs FAF
        .mobileNavUl Community
          .fas.fa-caret-down.mobileCaret
        ul.mobileNavLi
          li
            a(href='/faf-teams') Teams and Association
          li
            a(href='/content-creators') Content Creators
          li
            a(href='/donation') Donate
          li
            a(href='/contribution') Contribute
          li
            a(href='/clans') Clans

        .mobileNavUl Competitive
          .fas.fa-caret-down.mobileCaret
        ul.mobileNavLi
          li
            a(href='/leaderboards') Leaderboards
          li
            a(href='/tournaments') Tournaments
        .mobileSocialMedia
          a(href='https://discord.gg/mXahVSKGVb')
            .fab.fa-discord
          a(href='https://www.twitch.tv/faflive')
            .fab.fa-twitch
          a(href='https://www.youtube.com/c/ForgedAllianceForever')
            .fab.fa-youtube
          a(href='https://github.com/FAForever')
            .fab.fa-github
        .mobileOtherLinks
          a(href='https://forum.faforever.com/') Forums
          a(href='https://wiki.faforever.com/en/home') FAF Wiki
      .splatForgedBorder.transformationReverse.absoluteBottom
        .movingBackground1
        .movingBackground2


    .splatForgedBorder
      .movingBackground1
      .movingBackground2


    block bannerData    


    block banner
      mixin banner()
        .mainBannerContainer(class= bannerImage + 'Banner' style='background-image: url(../images/banner/' + bannerImage + '.jpg);')
          .bannerContainer.bannerTitle #{bannerFirstTitle}
          .bannerContainer.bannerTitle #{bannerSecondTitle}
          .bannerContainer.bannerSubtitle #{bannerSubTitle}

          block bannerButton 
    block bannerMixin
      +banner()
      .splatForgedBorder.transformationReverse
        .movingBackground1
        .movingBackground2


      //- The content block should contain the body of your template's content
    block content
    .splatForgedBorder.transformationReverse
      .movingBackground1
      .movingBackground2

    .mainFooterContainer
      .footerContainer.column12
        .footerItem
          //.backToTop Back to Top
      .footerContainer.column12
        .footerItem
          img(src='/images/logos/faflogo.svg' alt='')
          h1 FORGED ALLIANCE FOREVER
      .footerContainer.column12
        .footerItem
          ul ETIQUETTE
            li
              a(href='/coc') CODE OF CONDUCT
            li
              a(href='/rules') RULES

          ul CONTRIBUTE  
            li
              a(href='/contribution') VOLUNTEER POSITIONS
            li
              a(href='https://www.patreon.com/faf') DONATIONS

          ul LEGAL
            li
              a(href='/privacy') PRIVACY STATEMENT  
            li
              a(href='/tos') TERMS OF SERVICE

          ul CONTACT US
            li
              a(href='https://discord.gg/mXahVSKGVb') DISCORD
            li
              a(href='https://forum.faforever.com/')  FORUMS






      //- Add scripts that are globally required by your site here.
      script(src="../../js/app/navigation.js")
      //- Include template-specific javascript files by extending the js block
      block js
