extends ../../layouts/default
include ../../mixins/flash-messages
include ../../mixins/form/account
block bannerMixin
block content
    .playMain
        .playInnerGrid
            .playContainer
                h2 How to link FAF account to GOG?
                    p Shouldn't take more than 1-2 minutes.
                .playContentContainer
                    label Go to your Profile inside GOG -> Order & Settings -> Privacy -> Set everything to Everyone/All visitors
                    label Once the linking is done, you can revert this.
                    .gogSmallerImages
                      img(src='/images/steamGOG/gog1.jpg')
                      img(src='/images/steamGOG/gog2.jpg')
                    img(src='/images/steamGOG/gog3.jpg')

                    label Switch your profile's about you to the code below (so we can make sure you own SC:FA).
                    h2 #{ gogToken }
                    img(src='/images/steamGOG/gog4.jpg')
                    .gogSmallerImages
                      img(src='/images/steamGOG/gog5.jpg')
                      img(src='/images/steamGOG/gog6.jpg')

                    label Write your GOG username below and then click the link accounts button.
                    +flash-messages(flash)
                    .displayBlock
                        form(
                            method='post',
                            action='/account/linkGog',
                            data-toggle='validator'
                        )
                            +gogUsername
                            .form-actions
                                button.btn.btn-default.btn-lg.btn-outro.btn-danger(
                                    type='submit'
                                ) Link accounts
                    label Make sure the flash message below states you are connected.

                    p Flash Message:
                    +flash-messages(flash)
                h1 And you are done with GOG linking forever!
                    p Now if you want, you can set your privacy settings back to private and your profile's about you to normal.
                h2 Why do I need to link my Steam/GOG account to FAF?
                    p FAF as an organization doesn't own the copyright or trademark to SC:FA (Square Enix does). <br> Therefore, we need to verify you own a copy of SC:FA to prevent piracy.
                    p Linking your GOG account to FAF doesn't provide us with any information or powers over your account. <br> Only the fact that you own Supreme Commander: Forged Alliance. <br> Which is why we need you to set your Game Details to public when linking your account.
