extends ../../layouts/default
include ../../mixins/form/account
include ../../mixins/flash-messages

block bannerMixin

block content
    .containerCenter
        .accountForm
            .column12
                h1 Get Started
                h2 Welcome to the FAF community
                br
                +flash-messages(flash)

                hr
                h3 Lost account / returning player
                p Creating and operating multiple accounts is prohibited.
                p If you have a FAF account you can no longer access, please attempt to &nbsp
                    a(
                        href='https://help.steampowered.com/en/wizard/HelpWithLoginInfo?reset=1&issueid=408',
                        target='_blank'
                    ) reset your Steam password.
                p For further assistance, contact the moderation team via&nbsp;
                    a(href=discordUrl, target='_blank') Discord
                    |
                    | or the&nbsp;
                    a(href=forumUrl, target='_blank') Forums.
                form(
                    method='post',
                    action='/account/register',
                    data-toggle='validator'
                )
                    +username
                    br
                    br
                    br

                    +email
                    br
                    br
                    +tosagree
                    .recaptchaForm
                        label.column12
                            .g-recaptcha(data-sitekey=recaptchaSiteKey)
                    p We will send you an email with a link. The link will lead you to a page where you can set your password and activate your account.
                    p If you don't receive an email please check your spam folder!
                    .form-actions
                        button.btn.btn-default.btn-lg.btn-outro.btn-danger(
                            type='submit'
                        ) Register

block js
    script(src='//www.google.com/recaptcha/api.js')
