mixin email
    p Enter your Email
    .formStart
        input(
            type='email',
            name='email',
            required='required',
            placeholder='UEF@email.com',
            value=formData['email']
        )
        span(aria-hidden='true')

mixin username
    p Enter your username
    .formStart
        //value=formData['username']
        input(
            type='text',
            name='username',
            required='required',
            data-minlength='3',
            maxlength='16',
            pattern='^[A-Za-z]{1}[A-Za-z0-9_\\-]{2,15}$',
            data-minlength-error='The username is too short - must be at least 3 characters',
            data-error='Please check username requirements',
            data-remote='/account/checkUsername',
            data-remote-error='Username taken',
            placeholder='Eco_Player7-',
            value=formData['username']
        )
        span(aria-hidden='true')
        .formHelp
            ul Your username must:
                li Start with a letter

                li Be between 3 and 16 characters

                li Only use letters and digits ( - and _ are allowed).

mixin usernameOrEmail
    .form-group
        label Username or email:
            .input-group
                input.form-control(
                    type='text',
                    name='usernameOrEmail',
                    required='required',
                    value=formData['usernameOrEmail']
                )
                span(aria-hidden='true')

mixin confirm-password(passwordName,labelPassword)
    - passwordName = passwordName || 'password'
    - labelPassword = labelPassword || ''
    .form-group.has-feedback
        label #{ labelPassword } Password:
            .input-group
                input#inputPassword.form-control(
                    type='password',
                    name=passwordName,
                    required='required',
                    data-minlength='6'
                )
                span.glyphicon.form-control-feedback(aria-hidden='true')
                .help-block Minimum of 6 characters
    .form-group.has-feedback
        label Confirm #{ labelPassword } Password:
            .input-group
                input.form-control(
                    type='password',
                    name=passwordName + '_confirm',
                    required='required',
                    data-match='#inputPassword',
                    data-match-error='Passwords don\'t match. Please fix!',
                    data-minlength='6'
                )
                span.glyphicon.form-control-feedback(aria-hidden='true')
                .help-block.with-errors

mixin oldPassword(labelPassword)
    - labelPassword = labelPassword || ''
    .form-group.has-feedback
        label #{ labelPassword } Password:
            .input-group
                input#oldPassword.form-control(
                    type='password',
                    name='old_password',
                    required='required'
                )
                span.glyphicon.form-control-feedback(aria-hidden='true')

mixin currentPassword(labelPassword)
    - labelPassword = labelPassword || ''
    .form-group
        label #{ labelPassword } Password:
            .input-group
                input#password.form-control(
                    type='password',
                    name='password',
                    required='required'
                )

mixin tosagree(checked)
    - checked = checked || false
    .tosAgree
        label Agree to our <a href="https://faforever.com/tos" rel="_new">Terms of Service</a>
            input(type='checkbox', name='tosagree', required='required')
        label Agree to our <a href="https://faforever.com/privacy" rel="_new">Privacy Statement</a>
            input(type='checkbox', name='privacyagree', required='required')
        //label Agree to our <a href="/gc" rel="_new">Contribution Guidelines</a>
            input(type='checkbox', name='gcagree', required='required')

mixin gogUsername
    .form-group.has-feedback
        label GOG account name:
            .input-group
                input#gogUsername.form-control(
                    type='text',
                    name='gog_username',
                    required='required',
                    data-minlength='3',
                    maxlength='100',
                    pattern='[A-Za-z0-9._-]{2,99}$'
                )
                span.glyphicon.form-control-feedback(aria-hidden='true')
                .help-block.with-errors
